{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{{url_for('create_item')}}"> Click here to add new card to ToDo </a>
      <h2>Current To Do Items from Trello:</h2>
           {% for cards_from_todo in cards_from_todo %}
           <form action="{{url_for('complete_item')}}" method="POST">
            <input type ='text' name='card_name' value="{{cards_from_todo['name']}}" readonly="readonly">
            <input type = 'text' name="list_id" value="{{cards_from_todo['idList']}}" readonly="readonly">
            <input type = 'text' name ="card_id" value="{{cards_from_todo['id']}}" readonly="readonly">
            <input type="submit" name = 'action' value="Mark as Done"> 
            <input type="submit" name = 'action' value="Delete"> 
          </form>      
            {% endfor %}
      </div>
<br>
      <div class="col-md-12">
        <h2>Current Completed Items from Trello:</h2>
             {% for cards_from_done in cards_from_done %}
             <form action="{{url_for('back_todo_item')}}" method="POST">
              <input type ='text' name='card_name' value="{{cards_from_done['name']}}" readonly="readonly">
              <input type = 'text' name="list_id" value="{{cards_from_done['idList']}}" readonly="readonly">
              <input type = 'text' name ="card_id" value="{{cards_from_done['id']}}" readonly="readonly">
              <input type="submit" name = 'action' value="Mark as To Do"> 
              <input type="submit" name = 'action' value="Delete"> 
            </form>      
              {% endfor %}
        </div>

{% endblock %}